.news-detail {
  padding: 20px;
}
/* NewsDetails.css */


.back-button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #007bff; /* Cor do botão */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #0056b3; /* Cor ao passar o mouse */
}
